name: Build

on:
  workflow_call:
    inputs:
      useLocalPlugin:
        description: 'Use lsp4ij locally'
        required: true
        type: boolean
        default: false
  workflow_dispatch:
    inputs:
      useLocalPlugin:
        description: 'Use lsp4ij locally'
        required: true
        default: 'false'
  push:
    branches: '**'
  pull_request:
    branches: [ main, lsp4ij-market-0.0.2-integration ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        runtime: [ linux, mac, windows ]
        include:
          - runtime: linux
            os: ubuntu-latest
            reportName: linux-test-report
          - runtime: mac
            os: macOS-latest
            reportName: mac-test-report
          - runtime: windows
            os: windows-latest
            reportName: windows-test-report
    outputs:
      shas: ${{ steps.extract.outputs.shas }}
    env:
      USE_LOCAL_PLUGIN: ${{ inputs.useLocalPlugin || 'false' }}
    steps:
      - name: Configure pagefile
        if: contains(matrix.os, 'windows')
        uses: al-cheb/configure-pagefile-action@v1.2
        with:
          minimum-size: 8GB
          maximum-size: 10GB
          disk-root: "C:"
      - name: 'Checkout liberty-tools-intellij'
        uses: actions/checkout@v3
        with:
          path: liberty-tools-intellij
      - name: 'Install required integration test software'
        working-directory: ./liberty-tools-intellij
        run: bash ./src/test/resources/ci/scripts/setup.sh

      # Checkout and build lsp4ij only if USE_LOCAL_PLUGIN is true
      - name: Extract merge_commit_shas
        if: env.USE_LOCAL_PLUGIN == 'true'
        shell: bash
        id: extract
        run: |
          pr_infos=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          "https://api.github.com/repos/redhat-developer/lsp4ij/pulls?&state=open&sort=created&direction=desc&per_page=100")
          
          # Extract merge_commit_sha values into an array, excluding draft pull requests
          merge_commit_shas=($(echo "$pr_infos" | jq -r '.[] | select(.draft == false) | .merge_commit_sha'))
          # Create a JSON array string
          shas=$(jq -nc --arg shas "${merge_commit_shas[*]}" '$shas | split(" ")')
          echo "shas=$shas" >> $GITHUB_OUTPUT
          
  checkout-repository:
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macOS-latest, windows-latest ]
        sha: ${{ fromJson(needs.build.outputs.shas) }}

    steps:
      - name: 'Checkout lsp4ij'
        if: env.USE_LOCAL_PLUGIN == 'true'
        uses: actions/checkout@v3
        with:
          repository: redhat-developer/lsp4ij
          path: lsp4ij
          ref: ${{ matrix.sha }}
      - name: 'Build Lsp4ij'
        if: env.USE_LOCAL_PLUGIN == 'true'
        working-directory: ./lsp4ij
        run: bash ./gradlew buildPlugin
      - name: 'Unzip lsp4ij file'
        if: env.USE_LOCAL_PLUGIN == 'true'
        working-directory: ./lsp4ij/build/distributions
        run: |
          unzip -o '*.zip' -d .
      - name: 'Build Liberty-Tools-Intellij'
        working-directory: ./liberty-tools-intellij
        run: bash ./gradlew buildPlugin -PuseLocal=${{ env.USE_LOCAL_PLUGIN }}
      - name: 'Archive artifacts'
        if: ${{ runner.os == 'Linux' && !failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: liberty-tools-intellij-${{ github.sha }}
          path: |
            ./**/*liberty-tools-intellij*.zip
            ./**/libs/*liberty-tools-intellij*.jar
          if-no-files-found: warn
          retention-days: 7
      - name: 'Run UI integration tests'
        working-directory: ./liberty-tools-intellij
        run: bash ./src/test/resources/ci/scripts/run.sh
      - name: 'Archive Test logs and reports'
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.reportName }}
          path: |
            liberty-tools-intellij/build/reports/